.App {
  color: #333;
  background-color: #f3e9e3;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-bottom: 3rem;
}

.App-header {
  font-size: calc(10px + 2vmin);
}
